<!-- Enano CMS - IIS7 Rewrite support -->

<configuration>
  <configSections>
    <sectionGroup name="rewriteRules">
      <section name="rules" overrideModeDefault="Allow" />
    </sectionGroup>
  </configSections>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Main rule - short and sweet-->
        <rule name="Enano rewritten URLs" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <!-- Don't rewrite if the user requested a real directory or file-->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?title={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

