/*
 * Enano theme specifically designed to make the admin panel work better
 */


body                          { color: #000000; background-color: #456798; font-family: arial, helvetica, sans-serif; font-size: 8pt; margin: 0; padding: 0; }

div#header                    { font-family: georgia, serif; font-size: 11pt; background-color: #254778; padding: 10px; color: #FFFFFF; line-height: 55px; }
div#header a                  { color: #C0D0F0; border-bottom: 1px dotted #a0c0f0; text-decoration: none; }
div#header div.sitename       { color: #B0C8F0; font-family: georgia, serif; font-weight: normal; font-size: 22pt; margin: 0 10px 0 0; padding: 0; float: left; }
div#header div.menulink       { float: right; padding: 0 10px 0 0; }
div#header div.menulink a     { text-decoration: underline; color: #FFFFFF; border-bottom-width: 0; }

div#sidebar                   { padding: 0px; }
div#sidebar h4                { margin: 0; padding: 5px; }
div#sidebar ul                { margin: 0; padding: 0; list-style: none; }
div#sidebar ul li a           { display: block; padding: 5px 8px; text-decoration: none; }
div#sidebar ul li a:hover     { background-color: #E0E0E0; }

div.footer                    { margin: 10px 0 0 0; padding: 7px; text-align: center; border: 1px solid #A0A0A0; background-color: #e0e0e0; color: #666; }
div.footer a                  { color: #777; text-decoration: underline; }

table#sidebarholder           { width: 100%; margin: 10px 0 0 0; }

table.wrapper                 { Width: 100%; }
table.wrapper td.top-left     { width: 37px; height: 28px; background-image: url(../images/window-topcorners.png); background-repeat: no-repeat; }
table.wrapper td.top          {              height: 28px; background-image: url(../images/window-top.png); background-repeat: repeat-x; }
table.wrapper td.top-right    { width: 37px; height: 28px; background-image: url(../images/window-topcorners.png); background-repeat: no-repeat; background-position: -37px 0px; }
table.wrapper td.left         { width: 37px;               background-image: url(../images/window-left.png); background-repeat: repeat-y; }
table.wrapper td.main         { background-color: #FFFFFF; }
table.wrapper td.right        { width: 37px;               background-image: url(../images/window-right.png); background-repeat: repeat-y; }
table.wrapper td.bottom-left  { width: 37px; height: 44px; background-image: url(../images/window-bottomcorners.png); background-repeat: no-repeat; }
table.wrapper td.bottom       {              height: 44px; background-image: url(../images/window-bottom.png); background-repeat: repeat-x; }
table.wrapper td.bottom-right { width: 37px; height: 44px; background-image: url(../images/window-bottomcorners.png); background-repeat: no-repeat; background-position: -37px 0px; }

/* Sidebar */
td#td-sidebar                 { padding-right: 12px; height: 100%; }
table#sidebar-show {
  display: none;
  width: 100%;
}
div#sidebar-hide {
  width: 10px;
  height: 100%;
  background-color: #6587B8;
  cursor: pointer;
  position: absolute;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center center;
}
div#sidebar-hide:hover {
  background-color: #95B7E8;
}
div.expanded {
  background-image: url(../images/collapse.gif);
  right: 232px;
}
div.collapsed {
  background-image: url(../images/expand.gif);
  right: 0px;
}

/* Content area */
table.wrapper td.main h2.pagename {
  border-bottom: 1px solid #456798;
  margin-bottom: 0;
}

table.wrapper td.main a {
  color: #294F75;
}
table.wrapper td.main a:hover {
  color: #597FA5;
}

/*
 * jBox menu system
 */

div.menu, div.menu_nojs {
  background-color: #B0D0F0;
  font-size: 7pt;
  border-width: 0;
}
div.menu a, div.menu_nojs a, div.menu div.label, div.menu_nojs div.label {
  padding: 2.5pt 5px;
  margin-right: 3px;
  text-decoration: none;
  display: block;
  float: left;
  color: #406080;
}
div.menu div.label, div.menu_nojs div.label {
  color: #001020;
  cursor: default;
}
div.menu span.sep, div.menu_nojs span.sep {
  display: block;
  float: left;
  width: 5px;
}
div.menu div.multopts, div.menu_nojs div.multopts {
  line-height: 17pt;
}
div.menu div.multopts a, div.menu_nojs div.multopts a, div.menu div.multopts div.label, div.menu_nojs div.multopts div.label {
  float: none;
  display: inline;
}
div.menu a.liteselected, div.menu_nojs a.liteselected, div.menu a.liteselected:hover, div.menu_nojs a.liteselected:hover, div.menu a:hover, div.menu_nojs a:hover {
  color: #406080;
  background-color: #D0F0FF;
}
div.menu input[type ^="text"], div.menu_nojs input[type ^="text"], div.menu input[type ^="password"], div.menu_nojs input[type ^="password"] {
  border-width: 0;
  font-size: 9pt;
  padding: 4px 5px;
  max-width: 70px;
  background-color: #D0F0FF;
}
div.menu input[type ^="text"]:hover, div.menu_nojs input[type ^="text"]:hover, div.menu input[type ^="password"]:hover, div.menu_nojs input[type ^="password"]:hover {
  background-color: #E0F0FF;
}
div.menu input[type ^="text"]:focus, div.menu_nojs input[type ^="text"]:focus, div.menu input[type ^="password"]:focus, div.menu_nojs input[type ^="password"]:focus {
  background-color: #F0F0FF;
}
div.menu input[type ^="button"], div.menu_nojs input[type ^="button"], div.menu input[type ^="submit"], div.menu_nojs input[type ^="submit"] {
  border-width: 0;
  font-size: 9pt;
  padding: 3px 5px;
  max-width: 70px;
}
div.menu a.current, div.menu_nojs a.current, div.menu a.current:hover, div.menu_nojs a.current:hover, div.menu a.selected, div.menu_nojs a.selected, div.menu a.selected:hover, div.menu_nojs a.selected:hover {
  color: #000040;
  background-color: #FFFFFF;
}
div.menu ul, div.menu_nojs ul {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: #B0D0F0;
  border-width: 0;
  min-width: 120px;
}
div.menu ul li, div.menu_nojs ul li {
  list-style: none;
}
div.menu ul a, div.menu_nojs ul a {
  float: none;
  margin: 0;
}
span.menuclear {
  font-size: 1px;
  height: 0px;
  width: 0px;
  clear: left;
  line-height: 0px;
  display: block;
}

/* Buttons - this is CSS3 */
input[type ^="button"], input[type ^="submit"], button {
  border-width: 1px;
  border-color: #666;
  border-style: solid;
  background-color: #DDD;
  color: #101010;
  cursor: pointer;
  font-size: 8pt;
  font-family: arial, helvetica, sans-serif;
  padding: 5px 3px;
  background-image: url(../images/buttonbg.gif);
  background-repeat: repeat-x;
}

input[type ^="button"]:hover, input[type ^="submit"]:hover, button:hover {
  border-color: #999;
}

input[type ^="button"]:active, input[type ^="submit"]:active, button:active {
  padding: 6px 2px 4px 4px;
  border-color: #333;
}

input[type ^="text"], input[type ^="password"] {
  background-color: #F8FBFF;
  border: 1px solid #254778;
  font-size: 8pt;
  font-family: arial, helvetica, sans-serif;
  padding: 3px;
}

input:disabled {
  border-color: #666666 !important;
  background-image: none !important;
  background-color: #DDD !important;
  color: #888;
}

