/*
 * Shared stuff that all Enano themes (should) use. Should not load on IE7.
 */

* html span.tc_small_index_1 {
  filter: alpha(opacity=100);
}
* html span.tc_small_index_2 {
  filter: alpha(opacity=80);
}
* html span.tc_small_index_3 {
  filter: alpha(opacity=60);
}
* html span.tc_small_index_4 {
  filter: alpha(opacity=50);
}
* html span.tc_small_index_5 {
  filter: alpha(opacity=45);
}
* html span.tc_small_index_6 {
  filter: alpha(opacity=40);
}
* html span.tc_small_index_7 {
  filter: alpha(opacity=35);
}
* html span.tc_small_index_8 {
  filter: alpha(opacity=30);
}

